<footer>
<section class="footer__container">
    <article class="social-media__container">
      <h3>Nuestras redes</h3>
        <div class="social-media__icons">
          <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
          <a href="#"><i class="fa-brands fa-facebook"></i></a>
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
       </div>
    </article>
    <article class="copyright__container">
      <p>Made with &hearts; by Grupo 2 Digital House</p>
    </article>
  </section>
</footer>