<footer>
  <section class="desktop-footer">
    <article class="desktop-footer__container">
      <!-- <figure class="desktop-footer__logo">
        <img src="/img/logo/logo_zen_hogar.svg" alt="Logo Zen Hogar" class="desktop-footer__img">
      </figure> -->
      <nav class="desktop-footer__menu-container">
        <div class="desktop-footer__menu">
          <span>Nosotros</span>
          <ul>
            <li><a href="#">Showroom</a></li>
            <li><a href="#">El equipo</a></li>
            <li><a href="#">Nustro trabajo</a></li>
          </ul>
        </div>
        <div class="desktop-footer__menu">
          <span>Blog</span>
        </div>
        <div class="desktop-footer__menu">
          <span>Tienda</span>
          <ul>
            <li><a href="#">Catálogo</a></li>
            <li><a href="#">Ofertas</a></li>
          </ul>
        </div>
        <div class="desktop-footer__menu">
          <span>Lo nuevo</span>
        </div>
        <div class="desktop-footer__menu">
          <span>Contacto</span>
          <ul>
            <li><a href="#">Whatsapp</a></li>
            <li><a href="#">Email</a></li>
          </ul>
        </div>
      </nav>
      <div class="desktop-footer__social">
      <div class="desktop-footer__newsletter">
        <span>Subscribete a nuestro boletin</span>
        <form action="#">
          <div class="form__layer">
            <i class="fa-solid fa-envelope"></i>
            <input type="email" name="email" class="form__input form__input--black" placeholder="Email"><br>
            <button type="submit" class="form__submit-btn btn">Sumarme</button>
          </div>
        </form>
      </div>
      <div class="desktop-footer__social-media">
        <div>
          <p>Seguinos en nuestras redes:</p>
        </div>
        <div class="social-media__container">
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
          <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
          <a href="#"><i class="fa-brands fa-twitter"></i></a>
        </div>
      </div>
    </div>
    </article>
    <article class="desktop-footer__copyright">
      <p>&copy; Todos los derechos reservados - Zen Hogar. Made whit &hearts; by Group 2 - Digital House TN09 </p>
    </article>
  </section>
</footer>