<header>
  <section class="header__container">
    <article class="header__logo">
      <a href="/"><img src="/img/logo/logo_zen_hogar.svg" alt="Site logo"></a>
    </article>
    <article class="responsive__menu">
      <button class="menu__btn"><i class="fa-solid fa-bars"></i></button>
    </article>
    <!-- <article class="search__container">
      <form action="/search" method="get">
        <input type="text" placeholder="Busca algo..." class="search__input">
        <button type="submit" class="search__btn"><i class="fa-solid fa-magnifying-glass"></i></button>
      </form>
    </article> -->
    <article class="desktop__menu">
      <nav class="menu__container">
        <ul>
          <li><a href="/products">Catálogo</a></li>
          <li><a href="/offers">Ofertas</a></li>
          <li><a href="/users/login">Iniciar sesión</a></li>
          <li><a href="/users/register">Crear cuenta</a></li>
          <li><a href="/products/cart">Carrito</a></li>
        </ul>
      </nav>
    </article>
  </section>
</header>