<!-- Contenedor del header -->
  <section class="header__container">
    <!-- Menu hamburguesa -->
    <nav class="h-menu__wrap">
      <input type="checkbox" class="h-menu__toggler">
      <div class="hamburger">
        <div></div>
      </div>
      <div class="menu">
        <div>
          <div>
            <img src="/img/logo/logo_zen_hogar.svg" alt="">
            <ul>
              <li><a href="/contacto">Contacto</a></li>
              <li><a href="/ofertas">Ofertas</a></li>
              <li><a href="/catalogo">Shop</a></li>
            </ul>
            <ul>
              <li><a href="/login">Cuenta<i class="fa-solid fa-user"></i></a></li>
              <li><a href="/cart">Carrito<i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    </nav>
    <nav class="menu__container">
      <ul>
        <li><a href="/contacto">Contacto</a></li>
        <li><a href="/ofertas">Ofertas</a></li>
        <li><a href="/catalogo">Shop</a></li>
      </ul>
    </nav>
    <nav class="header__logo">
      <a href="/">
      <img src="/img/logo/logo_zen_hogar.svg" alt="Logo del sitio">
    </a>
    </nav>
    <nav class="menu__container">
      <ul>
        <li><a href="/login">Cuenta<i class="fa-solid fa-user"></i></a></li>
        <li><a href="/cart">Carrito<i class="fa-solid fa-cart-shopping"></i></a></li>
      </ul>
    </nav>
  </section>
<!-- Fin del header -->