<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zen Hogar</title>
    <script src="https://kit.fontawesome.com/d85b3fcf3e.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/29b5584878.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/cart.css">
</head>

<body>

    <header>

    </header>

    <main>



        <!--seccion pricipal inicio-->
        <section class="main-sup">

            <article class="main-sup__title">
                <h2>Carrito de compras</h2>
            </article>

            <article class="main-sup__emptybutton">
                <button type="button">Vaciar carrito</button>
            </article>

            <article class="main-sup__backbutton">
                <button type="button"><i class="fa-solid fa-chevron-left"></i>Volver al Catalogo</button>
            </article>

        </section>


        <!--textos prodcuto y precio-->
        <section class="main-texts">

            <article class="text-product">
                <p>PRODUCTO</p>
            </article>

            <article class="text-price">
                <p>PRECIO</p>
            </article>

        </section>


        <section class="main-box">

            <section class="main-producto-container">



                <!--contenedor principal del producto-->
                <section class="product">


                    <!--imagen del producto-->
                    <article class="product__img">

                        <a href="/">
                            <img src="img\2019907.1.jpg" alt="silla1">
                        </a>

                    </article>

                    <!--contenedor detalles-->
                    <article class="product__detail">

                        <section class="detail-container">

                            <article class="detail-container__title">
                                <h3>Producto</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                            </article>


                            <article class="detail-container__color">
                                <p>color: Loren</p>
                            </article>

                            <!--contenedor cantidad-->
                            <article class="detail-container__qty">
                                <button class="decrement"> - </button>
                                <input type="number" min="0" max="100" step="5" value="2" id="my-input" readonly>
                                <button class="increment"> + </button>
                            </article>

                        </section>

                    </article>


                    <!--contenedor precio-->
                    <article class="product__price">

                        <section>

                            <article class="trash-button">
                                <button><i class="fa-solid fa-trash-can"></i></button>

                            </article>


                            <article class="price-container">
                                <p>$6000</p>
                            </article>


                        </section>

                    </article>



                </section>


                <!--ITEM 2-->
                <section class="product">


                    <!--imagen del producto-->
                    <article class="product__img">

                        <a href="/">
                            <img src="img\2019893.5.jpg" alt="silla2">
                        </a>

                    </article>

                    <!--contenedor detalles-->
                    <article class="product__detail">

                        <section class="detail-container">

                            <article class="detail-container__title">
                                <h3>Producto</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                            </article>


                            <article class="detail-container__color">
                                <p>color: Loren</p>
                            </article>

                            <!--contenedor cantidad-->
                            <article class="detail-container__qty">
                                <button class="decrement"> - </button>
                                <input type="number" min="0" max="100" step="5" value="1" id="my-input" readonly>
                                <button class="increment"> + </button>



                            </article>

                        </section>

                    </article>


                    <!--contenedor precio-->
                    <article class="product__price">

                        <section>

                            <article class="trash-button">
                                <button><i class="fa-solid fa-trash-can"></i></button>

                            </article>


                            <article class="price-container">
                                <p>$6000</p>
                            </article>


                        </section>

                    </article>


                </section>


                <!--ITEM 3-->
                <section class="product">


                    <!--imagen del producto-->
                    <article class="product__img">

                        <a href="/">
                            <img src="img\2019570.5.jpg" alt="silla3">
                        </a>

                    </article>

                    <!--contenedor detalles-->
                    <article class="product__detail">

                        <section class="detail-container">

                            <article class="detail-container__title">
                                <h3>Producto</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                            </article>


                            <article class="detail-container__color">
                                <p>color: Loren</p>
                            </article>

                            <!--contenedor cantidad-->
                            <article class="detail-container__qty">
                                <button class="decrement"> - </button>
                                <input type="number" min="0" max="100" step="5" value="1" id="my-input" readonly>
                                <button class="increment"> + </button>



                            </article>

                        </section>

                    </article>


                    <!--contenedor precio-->
                    <article class="product__price">

                        <section>

                            <article class="trash-button">
                                <button><i class="fa-solid fa-trash-can"></i></button>

                            </article>


                            <article class="price-container">
                                <p>$6000</p>
                            </article>


                        </section>

                    </article>


                </section>



            </section>


            <section class="pay-box">

                <section class="price-detail-container">

                    <article class="subtotal-details">
                        <p>Subtotal</p>
                        <div class="data-subtotal">$18000</div>
                    </article>


                    <article class="shipping-detail">
                        <p>Envio</p>
                        <div class="data-shipping">$3000</div>
                    </article>


                    <article class="total-detail">
                        <h4>TOTAL</h4>
                        <div class="data-total">$21000</div>
                    </article>

                    <article class="checkout-button">
                        <button>Finalizar compra</button>
                    </article>

                </section>



            </section>


        </section>


    </main>


    <footer>
        <!-- Contenedor del footer -->
        <section class="footer__container">
            <div class="footer__social-media--title">
                Nuestras redes
            </div>
            <!-- Redes sociales -->
            <article class="footer__social-media">
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
            </article>
            <!-- Copyright -->
            <article class="footer__copyright">
                <p>&copy; Todos los derechos reservados - 2022</p>
            </article>
        </section>
    </footer>

</body>

</html>