<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/29b5584878.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/public/css/normalize.css">
  <link rel="stylesheet" href="/public/css/categorias.css">
  <title>Categorias</title>
</head>
<body>
  <header>
    <div class="header-container">
      <nav class="navbar">
        <ul>
          <li><a href="/home">Home</a></li>
          <li><a href="/contacto">Quienes somos</a></li>
          <li><a href="/contacto">Contacto</a></li>
          <li><a href="#">Shop</a></li>
        </ul>
      </nav>
      <div class="logo-container">
        <img src="/public/img/logo/logo_zen_hogar.svg" alt="site-logo">
      </div>
      <nav class="navbar">
        <ul>
          <li><a href="#">Iniciar sesión</a></li>
          <li><a href="#">Crear cuenta</a></li>
          <li><a href="#">Mi carrito<i class="fa-solid fa-cart-shopping"></i></a></li>
        </ul>
      </nav>
      <nav class="menu-wrap">
        <input type="checkbox" class="toggler">
        <div class="hamburger"><div></div></div>
        <div class="menu">
          <div>
            <div>
              <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/contacto">Quienes somos</a></li>
                <li><a href="/contacto">Contacto</a></li>
                <li><a href="#">Shop</a></li>
              </ul>
              <ul>
                <li><a href="#">Iniciar sesión</a></li>
                <li><a href="#">Crear cuenta</a></li>
                <li><a href="#">Mi carrito<i class="fa-solid fa-cart-shopping"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </header>

  <!-- Inicio del main -->
  <main>
      
    <!-- Contenedor de categorias -->
    <section class="categorias__container">

      <!-- Item 1 -->
       <article class="categorias__item">
        <div class="item__img">
          <img src="/public/img/sillon_verde1.jpg" alt="Imagen de categoria">
        </div>
        <div class="item__title">
          <h3>Categoria1</h3>         
        </div>
      </article>

    <!-- Fin contenedor categorias -->
    </section>

  <!-- Fin del main -->
  </main>

  <!-- Comienzo del footer -->
  <footer>
    <section class="footer__container">
      <article class="footer__copyright">
        <p>&copy; Todos los derechos reservados - Grupo 2 Digital House (?</p>
      </article>
    </section>
  </footer>
</body>
</html>