<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head', {title:'Zen Hogar | Bienvenid@s', styles:['normalize','styles','partials/footer','partials/header_test','create']}) %>
</head>

<body>
    <header>
        <%- include('./partials/header_test') %>
    </header>

    <section class="create-container">

        <!-- Contenedor del formulario -->
        <article class="create-container__form">
            <h2>CREAR PRODUCTO</h2>
            <!-- Formulario -->
            <form action="#">

                <!-- Insetar codigo de producto -->
                <label for="code" class="form__input-label">Codigo</label><br>
                <input type="text" id="code" name="code" placeholder="" required class="form__input"><br>

                <!-- insertar descripcion de producto -->
                <label for="description" class="form__input-label">Descripcion</label><br>
                <input type="text" id="description" name="description" placeholder="" required class="form__input"><br>

                <!-- Insetar Color -->
                <label for="color" class="form__input-label">Color</label><br>
                <input type="text" id="color" name="color" placeholder="" required class="form__input"><br>

                <!-- Ingresar precio -->
                <label for="price" class="form__input-label">Precio</label><br>
                <input type="number" id="price" name="price" placeholder="" required class="form__input"><br>

                <!-- ingresar imagenes -->
                <label for="images" class="form__input-label">Imagenes</label><br>
                <input type="file" name="images" class="file" accept=".jpg" multiple>


                <!-- Contenedor principal checkbox categorias -->
                <section class="checkbox__categories">

                    <label for="categories" class="form__input-label">Categorias</label><br>

                    <input type="checkbox" name="categories" id="categories"
                        class="form__input-checkbox"><span>Living</span><br>

                    <input type="checkbox" name="categories" id="categories"
                        class="form__input-checkbox"><span>Comedor</span><br>

                    <input type="checkbox" name="categories" id="categories"
                        class="form__input-checkbox"><span>Jardin</span><br>

                    <input type="checkbox" name="categories" id="categories"
                        class="form__input-checkbox"><span>Decoracaion</span><br>


                </section>


                <!-- Boton de crear producto -->
                <button type="submit" class="form__submit-btn">CREAR</button>
            </form>
        </article>





        <footer>
            <%- include('./partials/footer') %>
        </footer>


</body>

</html>