<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head', {title:'Titulo de web', styles:['normalize','styles','partials/footer','partials/header_test']}) %>
<body>
    <%- include('./partials/header_test') %>
    <main>
    <section class="section__container welcome__container">
      <article class="article__container welcome__article">
        <div class="welcome-text__container">
        <h3>Lorem ipsum dolor sit.</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus, quidem magnam molestiae quis laboriosam quas.</p>
        <a href="/products" class="main__btn welcome__btn">Ir al catálogo</i></a>
      </div>
      </article>
    </section>
    <div class="article__container offers__title">
      <h2>Ofertas rápidas</h2>
    </div>
    <section class="section__container offers__section">
      <article class="article__container offers__list">
        <div class="product__card">
          <img src="https://picsum.photos/200" alt="PRODUCTNAME">
          <h3>TITULO</h3>
          <p class="price__before">$PRECIO</p>
          <span>%5 OFF</span>
          <p class="price__final">$PRECIOFINAL</p>
          <a href="#" class="mini__btn">+ Más info...</a>
          <button class="main__btn card__btn">Añadir al carrito</button>
          <button class="main__btn card__btn card__btn-green">Comprar ahora</button>
        </div>
        <!-- Insertadas a modo de prueba -->
        <div class="product__card">
          <img src="https://picsum.photos/200" alt="PRODUCTNAME">
          <h3>TITULO</h3>
          <p class="price__before">$PRECIO</p>
          <span>%5 OFF</span>
          <p class="price__final">$PRECIOFINAL</p>
          <a href="#" class="mini__btn">+ Más info...</a>
          <button class="main__btn card__btn">Añadir al carrito</button>
          <button class="main__btn card__btn card__btn-green">Comprar ahora</button>
        </div>
        <div class="product__card">
          <img src="https://picsum.photos/200" alt="PRODUCTNAME">
          <h3>TITULO</h3>
          <p class="price__before">$PRECIO</p>
          <span>%5 OFF</span>
          <p class="price__final">$PRECIOFINAL</p>
          <a href="#" class="mini__btn">+ Más info...</a>
          <button class="main__btn card__btn">Añadir al carrito</button>
          <button class="main__btn card__btn card__btn-green">Comprar ahora</button>
        </div>
        <div class="product__card">
          <img src="https://picsum.photos/200" alt="PRODUCTNAME">
          <h3>TITULO</h3>
          <p class="price__before">$PRECIO</p>
          <span>%5 OFF</span>
          <p class="price__final">$PRECIOFINAL</p>
          <a href="#" class="mini__btn">+ Más info...</a>
          <button class="main__btn card__btn">Añadir al carrito</button>
          <button class="main__btn card__btn card__btn-green">Comprar ahora</button>
        </div>
        <div class="product__card">
          <img src="https://picsum.photos/200" alt="PRODUCTNAME">
          <h3>TITULO</h3>
          <p class="price__before">$PRECIO</p>
          <span>%5 OFF</span>
          <p class="price__final">$PRECIOFINAL</p>
          <a href="#" class="mini__btn">+ Más info...</a>
          <button class="main__btn card__btn">Añadir al carrito</button>
          <button class="main__btn card__btn card__btn-green">Comprar ahora</button>
        </div>
      </article>
    </section>
  </main>
    <%- include('./partials/footer') %>
</body>
</html>