<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Zen Hogar</title>
  <script src="https://kit.fontawesome.com/d85b3fcf3e.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap"
    rel="stylesheet">
  <script src="https://kit.fontawesome.com/29b5584878.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/login.css">
</head>

<body>

  <header>
    <div class="header-container">
      <nav class="navbar">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/contacto">Quienes somos</a></li>
          <li><a href="/contacto">Contacto</a></li>
          <li><a href="#">Shop</a></li>
        </ul>
      </nav>
      <div class="logo-container">
        <img src="/img/logo/logo_zen_hogar.svg" alt="site-logo">
      </div>
      <nav class="navbar">
        <ul>
          <li><a href="#">Iniciar sesión</a></li>
          <li><a href="#">Crear cuenta</a></li>
          <li><a href="#">Mi carrito<i class="fa-solid fa-cart-shopping"></i></a></li>
        </ul>
      </nav>
      <nav class="menu-wrap">
        <input type="checkbox" class="toggler">
        <div class="hamburger">
          <div></div>
        </div>
        <div class="menu">
          <div>
            <div>
              <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/contacto">Quienes somos</a></li>
                <li><a href="/contacto">Contacto</a></li>
                <li><a href="#">Shop</a></li>
              </ul>
              <ul>
                <li><a href="#">Iniciar sesión</a></li>
                <li><a href="#">Crear cuenta</a></li>
                <li><a href="#">Mi carrito<i class="fa-solid fa-cart-shopping"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </header>

  <main>

    <section class="main-container">



      <section class="login-container">

        <article class="login__name">
          <input type="text" id="nombre" name="nombre" placeholder="Nombre de usuario" class="ee">
        </article>



        <article class="login__pwd">
          <input type="password" id="password" name="password" placeholder="contraseña">
        </article>

        <section class="checkbox">
          <input type="checkbox" name="recuerdame" value="recuerdame">
          <label for="recuerdame">Recuerdame</label>
        </section>

        <section class="password-reset">
          <a title="¿Olvidaste tu contraseña?" href="/">¿Olvidaste tu contraseña?</a>
        </section>

        
        <Section class="button-submit">
          <input type="submit" value="Enviar">
        </Section>


        

      </section>
    </section>

  </main>

</body>

</html>