<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head', {title:'Zen Hogar | Bienvenid@s', styles:['normalize','styles','partials/footer','partials/header_test','create','modifyproduct']}) %>
</head>
<body>
  <header>
    <%- include('./partials/header_test') %>
  </header>
  <main>
    <section class="product-modify__container">
      <form action="./product/modify" method="POST"></form>
      <article class="selected-product__container">
        <div class="selected-product__img">
          <img src="https://picsum.photos/800/600" alt="product_img">
          <div class="more-photos__img">
            <img src="https://picsum.photos/800/600" alt="product_img">
            <img src="https://picsum.photos/800/600" alt="product_img">
            <img src="https://picsum.photos/800/600" alt="product_img">
            <img src="https://picsum.photos/800/600" alt="product_img">
          </div>
        </div>
        <div class="product-form__container">
          <input type="text" name="title" placeholder="Titulo Dinamico" class="product-form__info"><br>
          <input type="numerical" name="precio" placeholder="Precio Dinamico"class="product-form__info"><br>
          <input type="numerical" name="discount" placeholder="Descuento %"class="product-form__info"><br>
          <h3>Colores disponibles</h3>
          <input type="color" name="description" class="product-form__color"><br>
          <input type="text" name="description" placeholder="Descripcion1"class="product-form__info"><br>
          <input type="text" name="description" placeholder="Descripcion2"class="product-form__info"><br>
          <input type="text" name="description" placeholder="Descripcion3"class="product-form__info"><br>
          <input type="submit" value="Guardar cambios" class="product-form__btn">
          <input type="button" value="Cancelar" class="product-form__btn">
        </div>
      </article>
    </section>
  </main>
</body>
</html>
