<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Revisa tu cesta | Zen Hogar</title>
    <script src="https://kit.fontawesome.com/d85b3fcf3e.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/29b5584878.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/new_cart.css">
</head>

<body>
    <header>
    </header>


    <main>

        <div class="cart-main-title">
            <h2>Mi cesta</h2>
        </div>

        <div class="main-container">

            <section class="cart-show">

                <article class="cart-show__img">
                    <img src="img\2019907.1.jpg" alt="silla1">
                </article>


                <section class="cart-show__detail">
                    <article class="description-product">detalle del producto</article>
                    <article class="shipping-text">texto informativo envio</article>
                    <article class="qty-button">Boton para cantidad</article>
                    <article class="edit-details">link para editar color/talle/cantidad</article>
                </section>


                <section class="cart-show__eraseAndPrice">
                    <article class="erase-button">boton para borrar producto</article>
                    <article class="price-product">precio del producto</article>
                </section>



            </section>

            <section>
                <div class="bloque">
                    <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, pariatur ex voluptas animi
                        explicabo ab. Voluptatem aut aperiam rerum rem dignissimos, dicta distinctio placeat accusantium
                        eveniet nesciunt, minima, possimus doloremque?</P>
                </div>
            </section>

        </div>



    </main>







    <footer>
    </footer>

</body>

</html>