<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/29b5584878.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/new_product-detail.css">
  <title>Zen Hogar</title>
</head>
<body>
  <header>
    <!-- Contenedor del header -->
    <section class="header__container">
      <!-- Menu hamburguesa -->
      <nav class="h-menu__wrap">
        <input type="checkbox" class="h-menu__toggler">
        <div class="hamburger">
          <div></div>
        </div>
        <div class="menu">
          <div>
            <div>
              <img src="/img/logo/logo_zen_hogar.svg" alt="">
              <ul>
                <li><a href="/contacto">Contacto</a></li>
                <li><a href="/ofertas">Ofertas</a></li>
                <li><a href="/catalogo">Shop</a></li>
              </ul>
              <ul>
                <li><a href="/login">Cuenta<i class="fa-solid fa-user"></i></a></li>
                <li><a href="/cart">Carrito<i class="fa-solid fa-cart-shopping"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
      </nav>
      <nav class="menu__container">
        <ul>
          <li><a href="/contacto">Contacto</a></li>
          <li><a href="/ofertas">Ofertas</a></li>
          <li><a href="/catalogo">Shop</a></li>
        </ul>
      </nav>
      <nav class="header__logo">
        <a href="/">
        <img src="/img/logo/logo_zen_hogar.svg" alt="Logo del sitio">
      </a>
      </nav>
      <nav class="menu__container">
        <ul>
          <li><a href="/login">Cuenta<i class="fa-solid fa-user"></i></a></li>
          <li><a href="/cart">Carrito<i class="fa-solid fa-cart-shopping"></i></a></li>
        </ul>
      </nav>
    </section>
  <!-- Fin del header -->
  </header>
  <!-- main -->
  <main>
    <article class="product-detail__container">
      <div class="product-detail__img">
        <img src="/img/sillon_verde1.jpg" alt="sillon_verde">
      </div>
      <div class="product-detail__info">
        <div class="info__title">
          <h2>Sillon verde</h2>
          <p>Colores disponibles</p>
        </div>
        <div class="info__colors">
          <div class="colors__1"></div>
          <div class="colors__2"></div>
          <div class="colors__3"></div>
        </div>
        <div class="info__price">
          <p class="price__after">$85.000</p>
          <p class="price__off">40% OFF</p>
          <p class="price__before">$30.000</p>
        </div>
        <div class="info__actions">
          <button class="cashout__btn">Comprar ahora</button>
          <button class="cart__btn">Enviar al carrito</button>
        </div>
        <div class="info__etc">
          <ul>
            <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio obcaecati aliquam quod.</li>
            <li>Facilis rem eos nostrum quas fugit ut perferendis delectus illum, cumque dolorum?</li>
            <li>Unde esse expedita sit necessitatibus facilis vitae asperiores voluptas laborum libero delectus?</li>
            <li>Perferendis quo, ullam dolor tempore consequatur nostrum! Quos animi tempore sunt molestiae?</li>
            <li>Ab dicta enim excepturi facere quod deserunt, tenetur nesciunt fuga! Doloremque, soluta!</li>
          </ul>
        </div>
      </div>
    </article>
  </main>
  <!-- main end -->
  <footer>
    <section class="footer__container">
      <article class="social-media__container">
        <h3>Nuestras redes</h3>
          <div class="social-media__icons">
            <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
         </div>
      </article>
      <article class="copyright__container">
        <p>Made with &hearts; by Grupo 2 Digital House;</p>
      </article>
    </section>
  </footer>
</body>
</html>