<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/29b5584878.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/public/css/normalize.css">
  <link rel="stylesheet" href="/public/css/new_home.css">
  <title>Zen Hogar | Bienvenid@s</title>
  <title>Document</title>
</head>
<body>
  <header>
    <!-- Contenedor del header -->
    <section class="header__container">
      <!-- Menu hamburguesa -->
      <nav class="h-menu__wrap">
        <input type="checkbox" class="h-menu__toggler">
        <div class="hamburger">
          <div></div>
        </div>
        <div class="menu">
          <div>
            <div>
              <img src="/public/img/logo/logo_zen_hogar.svg" alt="">
              <ul>
                <li><a href="/contacto">Contacto</a></li>
                <li><a href="/ofertas">Ofertas</a></li>
                <li><a href="/catalogo">Shop</a></li>
              </ul>
              <ul>
                <li><a href="/login">Cuenta<i class="fa-solid fa-user"></i></a></li>
                <li><a href="/cart">Carrito<i class="fa-solid fa-cart-shopping"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
      </nav>
      <nav class="menu__container">
        <ul>
          <li><a href="/contacto">Contacto</a></li>
          <li><a href="/ofertas">Ofertas</a></li>
          <li><a href="/catalogo">Shop</a></li>
        </ul>
      </nav>
      <nav class="header__logo">
        <a href="/">
        <img src="/public/img/logo/logo_zen_hogar.svg" alt="Logo del sitio">
      </a>
      </nav>
      <nav class="menu__container">
        <ul>
          <li><a href="/login">Cuenta<i class="fa-solid fa-user"></i></a></li>
          <li><a href="/cart">Carrito<i class="fa-solid fa-cart-shopping"></i></a></li>
        </ul>
      </nav>
    </section>
  <!-- Fin del header -->
  </header>
  <!-- main -->
  <main>
    <section class="welcome__container">
      <article class="welcome__text-container">
        <h3>Confort</h3>
        <h2>Diseño</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis vitae voluptates eveniet quam corrupti eaque nihil voluptas, cum consequatur provident voluptatum hic sint nemo molestias ducimus pariatur assumenda quidem sed?</p>
        <a href="#">Ir al catálogo<i class="fa-solid fa-arrow-right"></i></a>
      </article>
    </section>
    <section class="ofertas__section">
      <h2>Ofertas</h2>
      <div class="ofertas__container">
        <!-- ITEM 1 -->
      <article class="ofertas__item">
        <div class="item__img">
          <img src="/public/img/sillon_verde1.jpg" alt="imagen de oferta">
        </div>
        <div class="item__text-container">
          <h3>Sillon Verde</h3>
          <p class="price__before">$85.000</p>
          <p class="price__after">$34.000</p>
          <p class="price__discount">40% OFF</p>
          <a href="#">Más info</a>
          <button class="ofertas__btn">Añadir al carrito</button>
          <button class="ofertas__btn btn__alternativo">Comprar ahora</button>
        </div>
      </article>
      <!-- ITEM 2 -->
      <article class="ofertas__item">
        <div class="item__img">
          <img src="/public/img/sillon_verde1.jpg" alt="imagen de oferta">
        </div>
        <div class="item__text-container">
          <h3>Sillon Verde</h3>
          <p class="price__before">$85.000</p>
          <p class="price__after">$34.000</p>
          <p class="price__discount">40% OFF</p>
          <a href="#">Más info</a>
          <button class="ofertas__btn">Añadir al carrito</button>
          <button class="ofertas__btn btn__alternativo">Comprar ahora</button>
        </div>
      </article>
      <!-- ITEM 3 -->
      <article class="ofertas__item">
        <div class="item__img">
          <img src="/public/img/sillon_verde1.jpg" alt="imagen de oferta">
        </div>
        <div class="item__text-container">
          <h3>Sillon Verde</h3>
          <p class="price__before">$85.000</p>
          <p class="price__after">$34.000</p>
          <p class="price__discount">40% OFF</p>
          <a href="#">Más info</a>
          <button class="ofertas__btn">Añadir al carrito</button>
          <button class="ofertas__btn btn__alternativo">Comprar ahora</button>
        </div>
      </article>
      <!-- ITEM 4 -->
      <article class="ofertas__item">
        <div class="item__img">
          <img src="/public/img/sillon_verde1.jpg" alt="imagen de oferta">
        </div>
        <div class="item__text-container">
          <h3>Sillon Verde</h3>
          <p class="price__before">$85.000</p>
          <p class="price__after">$34.000</p>
          <p class="price__discount">40% OFF</p>
          <a href="#">Más info</a>
          <button class="ofertas__btn">Añadir al carrito</button>
          <button class="ofertas__btn btn__alternativo">Comprar ahora</button>
        </div>
      </article>
    </div>
    </section>
  </main>
  <footer>
    <section class="footer__container">
      <article class="social-media__container">
        <h3>Nuestras redes</h3>
          <div class="social-media__icons">
            <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
         </div>
      </article>
      <article class="copyright__container">
        <p>Made with &hearts; by Grupo 2 Digital House;</p>
      </article>
    </section>
  </footer>
</body>
</html>