<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap"
    rel="stylesheet">
  <script src="https://kit.fontawesome.com/29b5584878.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/register.css">
  <title>Zen Hogar | Registrarse</title>
</head>

<body>
  <header>
    <!-- Contenedor del header -->
    <section class="header__container">
      <article class="header__logo">
        <a href="/">
        <img src="/img/logo/logo_zen_hogar.svg" alt="Logo del sitio">
      </a>
      </article>
      <!-- Menu hamburguesa -->
      <nav class="h-menu__wrap">
        <input type="checkbox" class="h-menu__toggler">
        <div class="hamburger">
          <div></div>
        </div>
        <div class="menu">
          <div>
            <div>
              <img src="/img/logo/logo_zen_hogar.svg" alt="">
              <ul>
                <li><a href="/contacto">Quienes somos</a></li>
                <li><a href="/contacto#contact-section">Contacto</a></li>
                <li><a href="/categories">Shop</a></li>
              </ul>
              <ul>
                <li><a href="/login">Iniciar sesion</a></li>
                <li><a href="/register">Crear cuenta</a></li>
                <li><a href="/cart"><i class="fa-solid fa-cart-shopping"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
      </nav>
      <div class="main-menu__container">
        <nav>
          <ul>
            <li><a href="">Quienes somos</a></li>
            <li><a href="">Contacto</a></li>
            <li><a href="">Shop</a></li>
          </ul>
        </nav>
      </div>
      <div class="user-menu__container">
        <nav>
          <ul>
            <li><a href="#" class="user-menu__btn">Iniciar sesion</a></li>
            <li><a href="#" class="user-menu__btn">Crear cuenta</a></li>
            <li><a href="#" class="user-menu__btn"><i class="fa-solid fa-cart-shopping"></i></a></li>
          </ul>
        </nav>
      </div>
    </section>
  <!-- Fin del header -->
  </header>
  <main>
    <!-- Contenedor de registro -->
    <section class="register__container">
      <!-- Contenedor del formulario -->
      <article class="form__container">
        <h2>Bienvenid@</h2>
        <!-- Formulario -->
        <form action="#">
          <label for="name" class="form__input-label">Ingrese su nombre</label><br>
          <input type="text" id="name" name="name" placeholder="Juan" required class="form__input"><br>
          <label for="email" class="form__input-label">Correo electrónico</label><br>
          <input type="email" id="email" name="email" placeholder="juanperez@gmail.com" required
            class="form__input"><br>
          <label for="password" class="form__input-label">Ingrese su contraseña</label><br>
          <input type="password" name="password" id="password" required class="form__input"><br>
          <label for="password-repeat" class="form__input-label">Repita su contraseña</label><br>
          <input type="password" name="password-repeat" id="password-repeat" required class="form__input"><br>
          <div class="checkbox__password-remember">
            <input type="checkbox" name="remember-passwd" id="remember-passwd"
              class="form__input-checkbox"><span>Recordar contraseña</span><br>
          </div>
          <!-- Boton de formulario -->
          <button type="submit" class="form__submit-btn">Registrarse</button>
        </form>
      </article>
      <!-- Links de ayuda -->
      <p>¿Ya tienes cuenta? Ingresa haciendo <a href="#">click aquí.</a></p>
      <p><a href="#">¿Olvidaste tu contraseña?</a></p>
    </section>
  <!-- Fin del registro -->
  </main>
  <footer>
    <!-- Contenedor del footer -->
    <section class="footer__container">
      <div class="footer__social-media--title">
        Nuestras redes
      </div>
      <!-- Redes sociales -->
      <article class="footer__social-media">
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
      </article>
      <!-- Copyright -->
      <article class="footer__copyright">
        <p>&copy; Todos los derechos reservados - 2022</p>
      </article>
    </section>
  </footer>
</body>
</html>