<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head', {title:'Formulario de registro', styles:['normalize','styles','partials/footer','partials/header_test']}) %>
<body>
  <%- include('./partials/header_test') %>
  <main>
    <section class="section__container">
      <article class="article__container register__success">
        <h2>Registro Exitoso</h2>
        <h3><i class="fa-solid fa-circle-check"></i></h3>
        <a href="/users/login">Ir a iniciar sesión</a>
      </article>
    </section>
  </main>
  <%- include('./partials/footer') %>
</body>
</html>