<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head', {title:'Formulario de registro', styles:['normalize','partials/footer','partials/header_test']}) %>
</head>

<body>
    <%- include('./partials/header_test') %>
  <footer>
    <%- include('./partials/footer') %>
  </footer>
</body>

</html>