<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head', {title:'Formulario de registro', styles:['normalize','styles','partials/footer','partials/header_test']}) %>
</head>

<body>
    <%- include('./partials/header_test') %>
    <main>
      DSADSA
    </main>
    <%- include('./partials/footer') %>
</body>

</html>