* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0
}

:root {
  --alternative-text-color: #1c1c1c;
  --main-background-color: #1c1c1c;
  --main-text-color: #e5e5e5;
  --alternative-background-color: #e5e5e5;
  --menu-speed: 0.5s
}

/* Header styles */
.responsive-container {
  display: unset;
}
header {
  background-color: rgba(28, 28, 28, 0.6);
  border:1px solid var(--main-text-color);
  position: absolute;
  left:0;
  right: 0;
}

.header-container {
  align-items: center;
  display: flex;
  gap: 24px;
  justify-content: center;
  padding: 24px;
}

.navbar {
  display: none;
}

.navbar > ul {
  display: flex;
  gap: 12px;
  list-style: none;
}


.navbar > ul > li > a {
  color: var(--main-text-color);
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.4s ease;
  padding: 12px;
}

.navbar > ul > li > a:hover {
  background: var(--main-text-color);
  border-radius: 6px;
  color: var(--alternative-text-color);
  font-weight: 600;
  text-decoration: underline;
}

.logo-container {
  border: 1px solid var(--main-text-color);
  border-radius: 6px;
  height: 100%;
  padding: 6px;
  width: fit-content;
  margin-right: 60px;
}

.logo-container > img {
  width: 100%;
  height: 100%;
}

.menu-wrap {
  position:absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.menu-wrap .toggler {
  position: absolute;
  top: 38px;
  right: 24px;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 38px;
  right: 24px;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: var(--alternative-background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}

/* Hamburger line */
.menu-wrap .hamburger > div {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: var(--main-background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Top and bottom lines */
.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background-color: inherit;
}

/* Moves line down */
.menu-wrap .hamburger > div:after{
  top: 10px;
}

/* Toggler animate */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* Turn lines into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate on hover when checked */

.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  visibility: hidden; /* muestra el menu*/
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div {
  background-color: var(--main-background-color);
  border-radius: 50%;
  width: 200vw;
  height: 200vh;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

/* Show menu */

.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease;
}


/* ABOUT STYLES */


.about-container {
  background: url(/img/about_background.jpg) no-repeat center center /cover;
  padding: 24px;
  padding-top: 150px;
  border-bottom: 1px solid var(--main-text-color);
}

.about-text-container {
  background-color: rgba(28, 28, 28, 0.6);
  padding: 12px;
  text-align: center;
}

.text-h1 {
  margin: 0;
  color: var(--main-text-color);
  font-weight: 300;
  margin-bottom: 24px;
  padding-bottom: 12px;
  border-bottom: 1px solid var(--main-text-color);
}

.text-p {
  color: var(--main-text-color);
  font-weight: 300;
}

.photo-1 > img {
  width: 100%;
  height: 100%;
}

.photo-2 > img {
  width: 100%;
  height: 100%;
}

.photo-1,
.photo-2 {
  width: 100%;
  background-color: rgba(28, 28, 28, 0.6);
  padding: 12px 24px;
  border: 1px solid var(--main-text-color);
  margin-bottom: 6px;
}

/* Contact Styles */

.about-contact {
  background: url(/img/about_contact.jpg) no-repeat center center /cover;
  padding: 24px;
}

.contact-form__container {
  background-color: rgba(28, 28, 28, 0.6);
  text-align: center;
  color: var(--main-text-color);
  padding: 24px 12px;
}

.contact-form__container > h2 {
  font-weight: 400;
  border-bottom: 1px solid var(--main-text-color);
  padding-bottom: 24px;
}

.contact-form__container > p {
  padding-top: 24px;
  font-weight: 300;
  padding-bottom: 24px;
}
.form-inp {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  font-weight: 400;
}

.form-inp > input {
  background-color: rgba(28, 28, 28, 0.6);
  color: var(--main-text-color);
  border: 1px solid var(--main-text-color);
  padding: 6px 12px
}

.form-inp > textarea {
  background-color: rgba(28, 28, 28, 0.6);
  color: var(--main-text-color);
  border: 1px solid var(--main-text-color);
  padding: 6px 12px
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.form-inp__btn > input {
  border: 1px solid var(--main-text-color);
  padding: 12px 24px;
  color: var(--main-text-color);
  background-color: var(--main-background-color);
  cursor: pointer;
}










/* MEDIA QUERIES */

/* Medium devices (tablets, 770px and up) */
@media (min-width: 770px) {

  /* header */
  .header-container {
    flex-direction: row;
    padding: 6px;
  }
  
  .logo-container {
    height: fit-content;
  }
  .logo-container > img {
    width: 150px;
  }
  
  .navbar {
    display: inline-flex
  }

  .navbar > ul > li > a {
    font-size: 10px;
    padding: 3px;
  }

  .hamburger-nav {
    display: none;
  }
}

@media (min-width: 992px) {
  header {
    display: flex;
    justify-content: center;
  }
  .header-container {
    flex-direction: row;
    gap: 6px;
    padding: 12px;
    max-width: 1200px;
  }

  .logo-container {
    order: unset;
    height: fit-content;
  }

  .logo-container > img {
    width: 180px;
  }

  .navbar > ul > li > a {
    font-size: 12px;
    padding: 12px;
  }

  .about-photos {
    display: flex;  
    max-width: 1200px;
  }

  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-text-container {
    max-width: 1200px;
  }

  .about-contact {
    display: flex;
    justify-content: center;
  }
}