* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0
  }
  
  :root {
    --alternative-text-color: #1c1c1c;
    --main-background-color: #1c1c1c;
    --main-text-color: #e5e5e5;
    --alternative-background-color: #e5e5e5;
    --main-min-viewport: 480px;
  }



body{
    min-width: var(--main-min-viewport);
    
}


/* Header styles */
.responsive-container {
    display: unset;
  }
  header {
    background-color: rgba(28, 28, 28, 0.6);
    border:1px solid var(--main-text-color);
    position: absolute;
    left:0;
    right: 0;
  }
  
  .header-container {
    align-items: center;
    display: flex;
    gap: 24px;
    justify-content: center;
    padding: 24px;
  }
  
  .navbar {
    display: none;
  }
  
  .navbar > ul {
    display: flex;
    gap: 12px;
    list-style: none;
  }
  
  
  .navbar > ul > li > a {
    color: var(--main-text-color);
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.4s ease;
    padding: 12px;
  }
  
  .navbar > ul > li > a:hover {
    background: var(--main-text-color);
    border-radius: 6px;
    color: var(--alternative-text-color);
    font-weight: 600;
    text-decoration: underline;
  }
  
  .logo-container {
    border: 1px solid var(--main-text-color);
    border-radius: 6px;
    height: 100%;
    padding: 6px;
    width: fit-content;
    margin-right: 60px;
  }
  
  .logo-container > img {
    width: 100%;
    height: 100%;
  }
  
  .menu-wrap {
    position:absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }
  
  .menu-wrap .toggler {
    position: absolute;
    top: 38px;
    right: 24px;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
  }
  
  .menu-wrap .hamburger {
    position: absolute;
    top: 38px;
    right: 24px;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background: var(--alternative-background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
  }
  
  /* Hamburger line */
  .menu-wrap .hamburger > div {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: var(--main-background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
  }
  
  /* Top and bottom lines */
  .menu-wrap .hamburger > div:before,
  .menu-wrap .hamburger > div:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background-color: inherit;
  }
  
  /* Moves line down */
  .menu-wrap .hamburger > div:after{
    top: 10px;
  }
  
  /* Toggler animate */
  .menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
  }
  
  /* Turn lines into X */
  .menu-wrap .toggler:checked + .hamburger > div:before,
  .menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
  }
  
  /* Rotate on hover when checked */
  
  .menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
  }
  
  .menu-wrap .menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    visibility: hidden; /* muestra el menu*/
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .menu-wrap .menu > div {
    background-color: var(--main-background-color);
    border-radius: 50%;
    width: 200vw;
    height: 200vh;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
  }
  
  .menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
  }
  
  /* Show menu */
  
  .menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
  }
  
  .menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
  }
  
  .menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 0.4s ease;
  }


.main-sup {
    font-size: 20px;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
    min-width: var(--main-min-viewport);

}

.main-sup__title>h2 {

    font-size: 22px;

}


.main-sup__emptybutton>button {
    padding: 3px 6px;
    border: solid 1px #1c1c1c;
    border-radius: 5px;
    font-size: 13px;
    background-color: #1c1c1c;
    color: white;
}


.main-sup__backbutton>button {
    padding: 3px 6px;
    border: solid 1px black;
    border-radius: 5px;
    font-size: 13px;
    background-color: #1c1c1c;
    color: #e5e5e5;

}

.fa-chevron-left {
    margin-right: 5px;
}

.main-texts {
    display: flex;
    min-width: var(--main-min-viewport);
    width: 90%;
    margin: auto;
    padding: 10px;
    border-bottom: 2px solid grey;
}

.text-product {

    width: 50%;
    text-align: left;

}



.text-price {

    width: 50%;
    text-align: right;
}



.product {
    display: flex;
    width: 85;
    margin: auto;
    justify-content: space-between;
    padding: 2px;
    padding: 15px 0px;
    border-bottom: 1px solid grey;



}



.product__img {

    width: 30%;
    padding: 10px;

}

.product__img img {
    width: 100%;
}


.product__detail {

    width: 50%;
    padding: 5px;



}




.detail-container__title {

    margin-bottom: 20px;
}


.detail-container__color {

    margin-bottom: 20px;
}



.detail-container__qty {

    border: 1px solid black;
    width: 300px;
    text-align: center;
    margin: auto;
    width: 120px;
    border-radius: 5px;

}


.detail-container__qty>input {

    font-size: 20px;
    text-align: center;
    background-color: white;
    border: 0px;
}

.increment,
.decrement {
    background-color: white;
    font-size: 20px;
    border: 0px;
}




.product__price {

    width: 20%;
    padding: 10px;

}

.price-container>p {
    font-size: 20px;

}




.trash-button>button {
    margin-bottom: 90px;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    background-color: white;
    border: 0px;
}

.trash-button>button>i {
    padding: 10px;
    background-color: white;
}


.price-container {
    text-align: right;
    font-size: 24px;
}



.price-detail-container {
    padding: 10px;
    margin: auto;
    width: 75%;
    
}

.subtotal-details,
.shipping-detail,
.total-detail {
    display: flex;
    padding: 5px;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    margin: 0px 40px;
}

.subtotal-details,
.shipping-detail {

    color: gray;
}

.checkout-button {
    text-align: center;
    margin: 15px 0px;
}


.checkout-button>button {
    padding: 10px;
    border: 1px solid black;
    background-color: black;
    color: white;
    font-size: 16px;
    border-radius: 4px;
}


.pay-box {
    padding: 30px 0px;
}

.main-box {
    padding: 10px;
}


.login__name>input{
    padding: 10px;
}


/* FOOTER */
/* Contenedor del footer */
.footer__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--blanco);
    margin-top: 2rem;
    padding: 24px 12px;
  }
  
  /* Contenedor enlaces redes sociales */
  .footer__social-media {
    font-size: 2em;
    padding-bottom: 24px;
  }
  
  /* Referecia a redes sociales */
  .footer__social-media--title {
    font-size: 1.2em;
    padding: 12px 6px;
  }
  
  /* Links a redes sociales */
  .footer__social-media > a {
    color: var(--color-enfasis);
    margin: 0px 12px
  }
  



/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

    .main-sup__title>h2 {
        font-size: 26px;
    }

    .main-sup__emptybutton>button {
        font-size: 16px;
    }

    .main-sup__backbutton>button {
        font-size: 16px;
    }

    .trash-button>button>i {
        font-size: 26px;
        border:0px;
    }

    .price-container>p {
        font-size: 26px;
        padding: 5px;
    }


    .text-product,
    .text-price>p {

        font-size: 24px;
    }

    .detail-container__title>h3 {
        font-size: 24px;
    }

    .detail-container__title,
    .detail-container__color>p {
        font-size: 20px;
    }


    .price-detail-container {
        width: 60%;
    }

}


    /*X-Large devices (large desktops, 1200px and up)*/

    @media (min-width: 1200px) {

        .main-box {
            display: flex;
        }

        .pay-box{
            width: 50%;
        }

       .price-detail-container {
           width: 100%;
           border: 2px solid black;
           padding: 35px 0px;
       }

       /* */

       .main-sup__title>h2 {
        font-size: 35px;
    }

    .main-sup {
        padding: 30px 10px;
    }

    .main-sup__emptybutton>button {
        font-size: 25px;
    }

    .main-sup__backbutton>button {
        font-size: 25px;
    }

    .trash-button>button>i {
        font-size: 26px;
    }

    .price-container>p {
        font-size: 26px;
        padding: 5px;
    }



    .text-product>p{
        font-size: 24px;
    }


    .text-price>p {

        display: none;
    }

    .detail-container__title>h3 {
        font-size: 24px;
    }

    .detail-container__title,
    .detail-container__color>p {
        font-size: 20px;
    }

    .product {
        width: 100%;
        

    }


    .price-container {
        text-align: center;
    }

    }


    