* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0
}

:root {
    /* Variables Carito compras */

    --main-text-title: 20px;
    --main-view-img: 25%;
    --main-view-detail-product: 55%;
    --main-view-price: 20%;
    --main-view-img-992: 40%;






    --alternative-text-color: #1c1c1c;
    --main-background-color: #1c1c1c;
    --main-text-color: #e5e5e5;
    --alternative-background-color: #e5e5e5;

    /* Header variables */
    /* Color variables */
    --blanco: #e7e7e7;
    --color-principal: #000;
    --color-principal-alpha: rgba(0, 0, 0, 0.7);
    --menu-principal-alpha: rgba(0, 0, 0, 0.9);
    --color-complementario: #b9b9b9;
    --color-complementario-alpha: rgba(185, 185, 185, 0.6);
    --gradiente-1: rgba(185, 185, 185, 0.3);
    --color-enfasis: #00AAA9;
    --color-enfasis-alpha: rgba(0, 170, 169, 0.6);

    /* Transitions variables */
    --menu-speed: 0.5s
}

/* ########  NEW CART   ######## */

.main-container {
    border: solid 3px green;
    width: 95%;
    min-width: 360px;
    margin: auto;
}


.main-container__item-list {
    padding: 10px;
    border: solid 3px red;
    width: 100%;
    display: flex;


}

.item-container {
    padding: 30px;
    border: solid 3px black;
}


.main-container__payment-detail {

    padding: 30px;
    border: solid 3px blue;
    width: 40%;
    margin: auto;
}


/* ########   Contenedor titulo y botones superiores   ######## */

.title-container {
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
}


/* Titulo principal cesta*/

.title-container__text>h2 {
    font-size: var(--main-text-title);
    color: black;
    padding: 10px 0px;

}

/* Boton vaciar carrito*/
.title-container__emty-cart>button {
    color: white;
    background-color: var(--menu-principal-alpha);
    font-size: 10px;
    padding: 5px;
    border-radius: 2px;
}




/* Bototn volver al catalogo*/
.title-container__back-button>a>p {
    color: white;
    background-color: var(--menu-principal-alpha);
    font-size: 10px;
    padding: 7px 8px;
    border-radius: 2px;
}

.title-container__back-button>a {
    text-decoration: none;
}

/* ########   FIN Contenedor titulo y botones superiores   ######## */



/* contenedor imagen de producto */
.main-container__item-list__img {

    width: var(--main-view-img);
    border: 2px solid rgb(128, 0, 111);

}

/* imagen de producto */
.main-container__item-list__img>img {
    width: 100%;
    border-radius: 3px;

}


.main-container__item-list__details{
    border: 2px solid black;
    width: 50%;
}


.main-container__item-list__eraseAndPrice{
    border: 2px solid green;


}










/* ########   MEDIA QUERIES   ######## */



@media (min-width:576px) {

    .main-container__item-list__details{
        width: 60%;
    }

}















@media (min-width: 992px) {

    .main-container {
        display: flex
    }


    .main-container__payment-detail {

        width: 25%;
        margin-top: 25px;
    }

    .main-container__item-list__img{
        width: var(--main-view-img-992);
    }




}