* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0
}

:root {
  --alternative-text-color: #1c1c1c;
  --main-background-color: #1c1c1c;
  --main-text-color: #e5e5e5;
  --alternative-background-color: #e5e5e5;

  /* Header variables */
    /* Color variables */
    --blanco: #e7e7e7;
    --color-principal: #000;
    --color-principal-alpha:rgba(0, 0, 0, 0.7);
    --menu-principal-alpha:rgba(0, 0, 0, 0.9);
    --color-complementario: #b9b9b9;
    --color-complementario-alpha: rgba(185, 185, 185, 0.6);
    --color-complementario-alpha-cta: rgba(185, 185, 185, 0.3);
    --color-enfasis: #00AAA9;
    --color-enfasis-alpha: rgba(0, 170, 169, 0.6);
  
    /* Transitions variables */
    --menu-speed: 0.5s
}

body {
  background-color: var(--color-principal);
}

/* HEADER */
/* Contenedor del header */
.header__container {
  position: absolute;
  z-index: 1;
  background-color: var(--color-principal-alpha);
  width: 100%;
  padding: 1em;
  box-shadow: 0 0 20px var(--color-principal);
}

/* Logo del header */
.header__logo img {
  width: 70%;
}


/* Hamburger menu */

.h-menu__wrap {
  position: absolute;
  right: 5%;
  top: 17%;
}

.h-menu__wrap .h-menu__toggler{
  position: absolute;
  top: 17%;
  right: 5%;
  cursor: pointer;
  width: 4em;
  height: 4em;
  opacity: 0;
  z-index: 1;
}

.h-menu__wrap .hamburger {
  position: absolute;
  top: 17%;
  right: 5%;
  width: 4em;
  height: 4em;
  padding: 1rem;
  background:var(--color-principal);
  border: 1px solid var(--color-enfasis);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}

/* Lineas del menu hamburgesa */
.h-menu__wrap .hamburger > div {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: var(--blanco);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
  z-index: 2;
}

/* Lineas del menu hamburgesa extras */
.h-menu__wrap .hamburger > div:before,
.h-menu__wrap .hamburger > div:after {
  content: '';
  position: absolute;
  top: -10px;
  z-index: 1;
  width: 100%;
  height: 2px;
  background-color: inherit;
}

/* Moviendo la linea de after abajo */
.h-menu__wrap .hamburger > div:after {
  top: 10px;
}

/* Toggler de menu hamburguesa (animacion) */

.h-menu__wrap .h-menu__toggler:checked + .hamburger > div {
  transform: rotate(135deg);
  background-color: var(--color-enfasis);
}

/* Las lineas se vuelven una X */
.h-menu__wrap .h-menu__toggler:checked + .hamburger > div:before,
.h-menu__wrap .h-menu__toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotar cuando se le pasa el mouse por encima en estado :checked */

.h-menu__wrap .h-menu__toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}
/* Fin del menu Hamburgesa */

/*  Mostrar el menu */
.h-menu__wrap .h-menu__toggler:checked ~ .menu {
  visibility: visible;
}

.h-menu__wrap .h-menu__toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.h-menu__wrap .h-menu__toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4 ease;
}

/* Menu principal */
.h-menu__wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.h-menu__wrap .menu > div {
  background-color: var(--menu-principal-alpha);
  width: 200vw;
  height: 200vh;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  /* Transform animation */
  transform: scale(0);
  transition: all 0.4s ease;
}

.h-menu__wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.h-menu__wrap .menu > div > div > img {
  padding: 12px 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid var(--color-complementario);
  width: 70%;
}

.h-menu__wrap .menu > div > div > ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}

.h-menu__wrap .menu > div > div > ul > li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  padding: 1rem;
  color: var(--blanco);
}

.h-menu__wrap .menu > div > div > ul > li > a {
  color:inherit;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.4s ease;
  padding: 12px 24px;
  border: 1px solid var(--color-enfasis);
  border-radius: 6px;
  /* box-shadow: 0px 0px 20px var(--color-complementario); */
}

/* Menu's de escritorio */
.main-menu__container,
.user-menu__container {
  display: none;
}


/* MAIN */
.main-btn {
  background-color: var(--color-principal);
  border: 1px solid var(--color-enfasis);
  display: inline-block;
  padding: 12px 24px;
  border-radius: 6px;
}

.main-btn > a {
  color: var(--blanco);
  text-decoration: none;
  font-weight: 600;
}
.main-cta {
  position: relative;
  overflow: hidden;
  background:linear-gradient(var(--color-complementario-alpha-cta), var(--color-principal-alpha)),url(/img/sillon1.jpg) no-repeat center center /cover;
  width: 100%;
  height: 100vh;
}

/* CTA text */

.main-cta__text-container {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-left: 24px;
  padding-bottom: 24px;
}


.main-cta__text-container > h2,
.main-cta__text-container > h3,
.main-cta__text-container > p {
  color: var(--blanco);
  font-weight: 300;
}

.main-cta__text-container > h2 {
  font-size: 36px;
  line-height: 30px;
  
}

.main-cta__text-container > h3 {
  font-size: 30px;
  line-height:0px;
}

.main-cta__text-container > p{
  margin-bottom: 12px;
}

/* SECTION Ofertas */
.main-ofertas {
  padding: 12px 48px;
  display: flex;
  flex-direction: column;
}
.main-ofertas__title > h2 {
  text-align: center;
  color: var(--main-text-color);
  padding: 12px;
  border-bottom: 1px solid var(--color-enfasis);
  text-transform: capitalize;
}
.main-ofertas__title {
  padding: 12px 24px;
  background-color: var(--color-principal);
}

.ofertas-item {
  background-color: var(--color-complementario);
  display: flex;
  flex-direction: column;
  padding-top:32px;
  padding-bottom: 32px;
  align-items: center;
  box-shadow: 0 0 10px var(--color-complementario);
  border-radius: 6px;
  position:relative;
  margin-bottom: 24px;
  border-radius: 6px;
}
.img-container {
  width: 60%;
  border: 1px solid var(--main-background-color);
  box-shadow: 0px 0px 10px rgb(100,100,100);
  margin-bottom: 24px;
}
.img-container > img {
  width: 100%;
  height: 100%;
}

.text-container {
  display: flex;
  width: 75%;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.ofertas-btn,
.ofertas-btn-alternativo {
  border: none;
  font-weight: bold;
  padding: 12px 24px;
  font-size: 12px;
  background-color: var(--color-principal);
  color: var(--blanco);
  cursor: pointer;
  border-radius: 6px;
}

.ofertas-btn-alternativo {
  background-color: var(--blanco);
  border: 1px solid var(--color-principal);
  color: var(--color-principal);
}

.text-discount {
  padding: 2%;
  color: rgb(2, 10, 2);
  font-weight: bold;
  border: 1px solid green;
  border-radius: 2px;
  position:absolute;
  top: 12px;
  left: 12px;
  background-color: rgba(6, 170, 6, 0.5);
}

.precio-anterior {
  font-size: 24px;
  font-weight: bold;
  text-decoration: line-through;
}

.text-precio {
  font-size: 18px;
  font-weight: 400;
}

.text-producto {
  font-size: 24px;
}

.ver-mas {
  background-color: var(--color-principal);
  display: flex;
  justify-content: center;
  padding-top: 0px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--color-enfasis);
}
.ver-mas > a {
  color: var(--blanco);
  background-color: var(--color-principal);
  border: 1px solid var(--color-enfasis);
  border-radius: 6px;
  padding: 12px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.5s ease;
}

.ver-mas > a:hover {
  background-color: var(--color-enfasis);
  color: var(--color-principal)
}

/* Resumen */

/* Resumen (Ajustes de imagenes para tarjeta) */
.resumen_tarjeta_img-container {
  width: 100%;
  height: 100%;
}
.resumen_tarjeta_img-container > img {
  width: 100%;
  height: 100%;
}

/* Tarjeta de resumen (modelo gral) */
.resumen {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}
.resumen_tarjeta {
  padding: 12px 24px;
  width: 80%;
  background-color: var(--color-complementario);
}

.resumen_tarjeta_texto {
  text-align: center;
}

.resumen_tarjeta_texto > h3 {
  margin-top: 12px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--main-background-color);
}

.resumen_tarjeta_texto > p {
  padding-top: 24px;
}

.resumen_tarjeta_texto > p > a {
  display: inline-block;
  padding: 12px 24px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: var(--color-principal);
  color: var(--blanco);
  border-radius: 6px;
  font-weight: bold;
}





/* FOOTER */
/* Contenedor del footer */
.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--blanco);
  margin-top: 2rem;
  padding: 24px 12px;
}

/* Contenedor enlaces redes sociales */
.footer__social-media {
  font-size: 2em;
  padding-bottom: 24px;
}

/* Referecia a redes sociales */
.footer__social-media--title {
  font-size: 1.2em;
  padding: 12px 6px;
}

/* Links a redes sociales */
.footer__social-media > a {
  color: var(--color-enfasis);
  margin: 0px 12px
}

/* Medium devices (tablets, 770px and up) */
@media (min-width: 768px) {

  .h-menu__wrap,
  .h-menu__wrap .h-menu__toggler,
  .h-menu__wrap .hamburger {
    top: 17%;
    right: 10%;
    width: 5em;
    height: 5em
  }

  .main-ofertas {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
  }
  .ofertas-item {
    width: 40%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* Header */

  /* Hamburger menu display:none */
  .h-menu__wrap,
  .h-menu__wrap .h-menu__toggler,
  .h-menu__wrap .hamburger {
    display: none;
  }

  /* Header container */
  .header__container {
    display: flex;
    position: unset;
    justify-content: center;
  }
  .header__logo img {
    width: 90%;
  }

  .main-menu__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-menu__container ul {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
    gap: 12px;
    font-size: 12px;
  }

  .main-menu__container ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--blanco);
    padding:6px 12px;
    transition: all 0.5s ease;
  }

  .main-menu__container ul li a:hover {
    font-size: 14px;
  }

  .user-menu__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .user-menu__container ul {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
    font-size: 12px;
    gap: 12px;
    margin-left:12px;
  }

  .user-menu__container ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--blanco);
  }


  .user-menu__btn {
    padding:12px 12px;
    background-color: var(--color-principal);
    border-radius: 6px;
    border: 1px solid var(--color-enfasis);
    transition: all 0.5s ease;
  }

  .user-menu__btn:hover {
    background-color: var(--color-enfasis);
    color: var(--color-principal);
    border: 1px solid var(--color-principal);
    text-decoration: underline;
  }

  .main-cta__text-container {
    width: 40%;
    margin-bottom: 12%;
    margin-left: 5%;
    background-color: var(--color-principal-alpha);
    border-radius: 6px;
    padding: 24px;
    border: 1px solid var(--color-enfasis);
    box-shadow: 0 0 10px var(--color-principal);
  }

  .main-cta__text-container > h2 {
    font-size: 4em;
    line-height: 0.7em
  }
  .main-cta__text-container > h3 {
    font-size: 3em;
    line-height: 0.1em;
  }
  .main-cta__text-container > p {
    font-size: 1.4em;
  }
  
  /* OFERTAS */
  .main-ofertas {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
  }

  .ofertas-item {
    width: 40%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* Header */

  /* Hamburger menu display:none */
  .h-menu__wrap,
  .h-menu__wrap .h-menu__toggler,
  .h-menu__wrap .hamburger {
    display: none;
  }

  /* Header container */
  .header__container {
    display: flex;
    position: unset;
    justify-content: center;
  }
  .header__logo img {
    width: 90%;
  }

  .main-menu__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-menu__container ul {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
    gap: 12px;
    font-size: 12px;
  }

  .main-menu__container ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--blanco);
    padding:6px 12px;
    transition: all 0.5s ease;
  }

  .main-menu__container ul li a:hover {
    font-size: 14px;
  }

  .user-menu__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .user-menu__container ul {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
    font-size: 12px;
    gap: 12px;
    margin-left:12px;
  }

  .user-menu__container ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--blanco);
  }


  .user-menu__btn {
    padding:12px 12px;
    background-color: var(--color-principal);
    border-radius: 6px;
    border: 1px solid var(--color-enfasis);
    transition: all 0.5s ease;
  }

  .user-menu__btn:hover {
    background-color: var(--color-enfasis);
    color: var(--color-principal);
    border: 1px solid var(--color-principal);
    text-decoration: underline;
  }

  /* CTA */
  .main-cta {
    height: 90vh;
  }
  /* OFERTAS */
  .ofertas-item {
    width: 30%;
  }

  /* TARJETAS */

  .resumen_tarjeta {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  .resumen_tarjeta_texto {
    width:60%;
  }
 }


/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

  /* OFERTAS */
  .ofertas-item {
    width: 20%;
  }
  /* CTA */
  .main-cta {
    width: 100%;
    height: 100vh;
 }

 /* TARJETAS */
 .resumen_tarjeta {
   max-width: 1200px;
 }

 }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

 }



