main {
  background-color: var(--color-complementario);
  padding-bottom: 10%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 30%;
}

/* Contenedor de la seccion */
.product-modify__container {
  color: var(--blanco);
  border: 1px solid var(--blanco);
  border-radius: 6px;
  padding: 12px;
  box-shadow: 0 0 10px var(--color-principal);
  background-color: var(--color-principal-alpha);
}

/* Item selected info */
/* img */
.selected-product__img img{
  width: 100%;
  height: 100%;
  border: 1px solid var(--color-complementario);
  border-radius: 6px;
}

.more-photos__img {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin-top: 8px;
  justify-content: space-evenly;
}
.more-photos__img > img {
  width: 50px;
  height: 50px;
}

/* TEXT */
.product-form__container {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
}

.product-form__info {
  width: 80%;
  height: 2em;
  text-align: center;
  border: 1px solid var(--color-complementario);
  background-color: var(--blanco);
  color: var(--color-principal);
  border-radius: 6px;
  font-size: 1.3em;

}

.product-form__btn {
  background-color: var(--blanco);
  color: var(--color-principal);
  border-radius: 6px;
  border: 1px solid var(--color-principal);
  width: 100%;
  height: 2em;
  font-weight: bold;
}


@media (min-width: 768px) {
  .more-photos__img > img {
    width: 100px;
    height: 100px;
  }
 }

@media (min-width: 992px) {
  main {
    padding-top: 18%
  }

  .selected-product__container {
    display: flex;
  }

  .selected-product__img {
    height: 50%;
    width: 50%;
  }
  .product-form__container {
    width: 50%;
  }
 }

@media (min-width: 1200px) { 
  main {
    padding-top: 10%
  }
  .selected-product__container {
    display: flex;
    padding: 5%;
    gap: 5%;
  }

  .product-form__container {
    width: 50%;
  }

  .product-form__info {
    width: 50%;
    height: 3em;
  }
  .product-form__btn {
    display: inline-block;
    width: 30%;
    height: 10%;
    font-size: 1.3em;
    
  }
}

@media (min-width: 1400px) { }
