* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0
}

:root {
    /* Variables Carito compras */

    --main-text-title: 24px;
    --main-view-img: 25%;
    --main-view-detail-product: 55%;
    --main-view-price: 20%;





    --alternative-text-color: #1c1c1c;
    --main-background-color: #1c1c1c;
    --main-text-color: #e5e5e5;
    --alternative-background-color: #e5e5e5;

    /* Header variables */
    /* Color variables */
    --blanco: #e7e7e7;
    --color-principal: #000;
    --color-principal-alpha: rgba(0, 0, 0, 0.7);
    --menu-principal-alpha: rgba(0, 0, 0, 0.9);
    --color-complementario: #b9b9b9;
    --color-complementario-alpha: rgba(185, 185, 185, 0.6);
    --gradiente-1: rgba(185, 185, 185, 0.3);
    --color-enfasis: #00AAA9;
    --color-enfasis-alpha: rgba(0, 170, 169, 0.6);

    /* Transitions variables */
    --menu-speed: 0.5s
}


/* Contenedor principal */
.main-container{
    padding: 20px 0px;
    border: 1px solid blue;
    background: url("/img/about_photo_1.jpg") no-repeat center center /cover;
    min-width: 360px;
}


/* Titulo principal cesta*/
.cart-main-title>h2 {
    font-size: var(--main-text-title);
    padding: 10px 0px;
    border: 2px solid black;

}



/* Contenedor principal detalles del producto */
.cart-show {
    padding: 10px;
    display: flex;
    background-color: var(--menu-principal-alpha);
    box-shadow: 0 0 10px var(--color-principal);
    color: var(--blanco);


}

/* contenedor imagen de producto */
.cart-show__img {
    width: var(--main-view-img);
    
}



/* imagen de producto */
.cart-show__img>img {
    width: 100%;
    border-radius: 3px;
    
}



/* Contendor detalles del producto */
.cart-show__detail {
    width: var(--main-view-detail-product);
    padding: 0px 0px 0px 10px;
}



/* titulo del producto */

.description-product>h3{
font-size: 12px;
padding: 10px 0px;

}




/* texto fecha de llegada */

.shipping-text>h4{
    font-size: 10px;
    padding-bottom: 10px;
}




/* boton de cantidad */
.qty-button {
    display: flex;

}

.qty-button>input{
    font-size: 15px;
    text-align: center;
    border: none;
    background-color: var(--blanco);
}


.decrement{
    font-size: 20px;
    padding: 0px 6px;
    border: none;
    background-color: var(--blanco);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    cursor: pointer;
}

.increment{
    font-size: 20px;
    padding: 0px 6px;
    border: none;
    background-color: var(--blanco);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}



/* link editar producto */
.edit-details{
    padding-top: 6px;
}

.edit-details>a{
    font-size: 9px;

    color: var(--blanco);
}


/* bloque con boton para borrar y precio */
.cart-show__eraseAndPrice {
    width: var(--main-view-price);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* boton borrar producto */
.erase-button{
    padding: 0px 15px 0px 0px;
    text-align: end;
}






/* Bloque prueba */
.bloque{
    border: 2px solid black
}