* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0
}

:root {
  --alternative-text-color: #1c1c1c;
  --main-background-color: #1c1c1c;
  --main-text-color: #e5e5e5;
  --alternative-background-color: #e5e5e5;

  /* Header variables */
    /* Color variables */
    --blanco: #e7e7e7;
    --color-principal: #000;
    --color-principal-alpha:rgba(0, 0, 0, 0.7);
    --menu-principal-alpha:rgba(0, 0, 0, 0.9);
    --color-complementario: #b9b9b9;
    --color-complementario-alpha: rgba(185, 185, 185, 0.6);
    --gradiente-1: rgba(185, 185, 185, 0.3);
    --color-enfasis: #00AAA9;
    --color-enfasis-alpha: rgba(0, 170, 169, 0.6);
  
    /* Transitions variables */
    --menu-speed: 0.5s
}


/* ####################################### HEADER ########################################### */
/* Contenedor del header */
.header__container {
  position: absolute;
  z-index: 1;
  width: 100%;
  padding: 1em;
  background-color: var(--color-principal-alpha);
  box-shadow: 0 0 20px var(--color-principal);
}

/* Logo del header */
.header__logo img {
  width: 70%;
}


/* Hamburger menu */

.h-menu__wrap {
  position: absolute;
  right: 5%;
  top: 17%;
}

.h-menu__wrap .h-menu__toggler{
  position: absolute;
  top: 17%;
  right: 5%;
  cursor: pointer;
  width: 4em;
  height: 4em;
  opacity: 0;
  z-index: 1;
}

.h-menu__wrap .hamburger {
  position: absolute;
  top: 17%;
  right: 5%;
  width: 4em;
  height: 4em;
  padding: 1rem;
  background:var(--color-principal);
  border: 1px solid var(--color-complementario);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}

/* Lineas del menu hamburgesa */
.h-menu__wrap .hamburger > div {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: var(--blanco);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
  z-index: 2;
}

/* Lineas del menu hamburgesa extras */
.h-menu__wrap .hamburger > div:before,
.h-menu__wrap .hamburger > div:after {
  content: '';
  position: absolute;
  top: -10px;
  z-index: 1;
  width: 100%;
  height: 2px;
  background-color: inherit;
}

/* Moviendo la linea de after abajo */
.h-menu__wrap .hamburger > div:after {
  top: 10px;
}

/* Toggler de menu hamburguesa (animacion) */

.h-menu__wrap .h-menu__toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* Las lineas se vuelven una X */
.h-menu__wrap .h-menu__toggler:checked + .hamburger > div:before,
.h-menu__wrap .h-menu__toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotar cuando se le pasa el mouse por encima en estado :checked */

.h-menu__wrap .h-menu__toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}
/* Fin del menu Hamburgesa */

/*  Mostrar el menu */
.h-menu__wrap .h-menu__toggler:checked ~ .menu {
  visibility: visible;
}

.h-menu__wrap .h-menu__toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.h-menu__wrap .h-menu__toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4 ease;
}

/* Menu principal */
.h-menu__wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.h-menu__wrap .menu > div {
  background-color: var(--menu-principal-alpha);
  width: 200vw;
  height: 200vh;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  /* Transform animation */
  transform: scale(0);
  transition: all 0.4s ease;
}

.h-menu__wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
  position: absolute;
  height: 100%;
  margin-top: 15%;
}

.h-menu__wrap .menu > div > div > img {
  padding: 12px 24px;
  border-bottom: 1px solid var(--color-complementario);
  width: 70%;
}

.h-menu__wrap .menu > div > div > ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.h-menu__wrap .menu > div > div > ul > li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  padding: 1rem;
  color: var(--blanco);
}

.h-menu__wrap .menu > div > div > ul > li > a {
  color:inherit;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.4s ease;
  padding: 12px 24px;
  border: 1px solid var(--color-complementario);
  border-radius: 6px;
  font-weight: 400;
  /* box-shadow: 0px 0px 20px var(--color-complementario); */
  display: block;
}

.h-menu__wrap .menu > div > div > ul > li > a > i {
  padding: 12px;
  /* border: 0.5px solid var(--color-complementario); */
  border-radius: 50%;
  margin-left: 6px;
}

/* Menu's de escritorio */
.menu__container {
  display: none;
}
/* ################################# FIN DEL HEADER ##########################################*/
/* MAIN */

.register__container {
  background:linear-gradient(var(--gradiente-1), var(--color-principal-alpha)), url('/public/img/cactus.jpg') no-repeat center center /cover;
  width: 100%;
  padding-top: 7em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
}

.register__container p { 
  color: var(--color-complementario);
  text-align: center;
  font-size: 1.5em;
  padding-top: 24px;
}

.register__container p a {
  color: var(--color-complementario);
  font-weight: bold;
}

.form__container {
  background-color: var(--color-principal-alpha);
  padding: 12px 24px;
  text-align: center;
  border-radius: 6px;
  box-shadow: 0 0 10px var(--color-principal);
}

.form__container h2 {
  color: var(--color-complementario);
  font-weight: 300;
  font-size: 2.5em;
}

.form__input-label {
  color: var(--color-complementario);
  font-size: 1.5em;
  line-height: 2em;
  font-weight: 200;
}

.form__input {
  background-color: var(--color-principal);
  height: 2.5em;
  width: 100%;
  text-align: center;
  color: var(--color-complementario);
  border-style: none;
  border-radius: 6px;
  border: 1px solid var(--color-complementario)
}

.checkbox__mail-accept  {
  margin-top: 1em;
  margin-bottom: 3em;
}
.checkbox__mail-accept span {
  color: var(--color-complementario);
  font-size: 1.2em;
  text-align: center;
}

.form__input-checkbox {
  margin: 6px 12px;
  padding: 0;
}

.form__submit-btn {
  background-color: var(--color-principal);
  color: var(--color-complementario);
  border: 1px solid var(--color-complementario);
  padding: 12px 24px;
  border-radius: 6px;
  margin-bottom: 2em;
}
/*####################################  FOOTER ###############################################*/

footer {
  background-color: var(--color-principal);
  box-shadow: 0 0 20px var(--color-principal);
}
.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.social-media__container h3 {
  font-size: 1.3em;
  font-weight: 400;
  padding: 6px;
  text-align: center;
  color: var(--color-complementario);
}

.social-media__container a {
  text-decoration: none;
  color: var(--color-complementario );
  border-radius: 100%;
  font-size: 1.5em;
  text-align: center;
}
.social-media__icons {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.copyright__container p {
  font-size: 1.2em;
  padding: 6px 12px;
  text-align: center;
  color: var(--color-complementario);
}
/*###################################### FIN DEL FOOTER ###################################*/

/*#################################### MEDIA QUERIES #######################################*/

/* Medium devices (tablets, 770px and up) */
@media (min-width: 768px) {

  .h-menu__wrap,
  .h-menu__wrap .h-menu__toggler,
  .h-menu__wrap .hamburger {
    top: 17%;
    right: 10%;
    width: 5em;
    height: 5em
  }

  /* Footer */
  .footer__container {
    flex-direction: row;
    padding: 12px 24px;
  }
  /* HEADER Y FOOTER MEDIA QUERIES FIN */

  .register__container  {
    padding-top: 15em;
  }

  .form__container {
    width: 60%;
    margin: auto;
  }

}


/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* Header */

  /* Hamburger menu display:none */
  .h-menu__wrap,
  .h-menu__wrap .h-menu__toggler,
  .h-menu__wrap .hamburger {
    display: none;
  }
  /* Menu de escritorio */

  .menu__container {
    display: flex;
  }

  .header__logo a img {
    width: 100%
  }

  .header__logo {
    width: 20%;
    justify-self: center;
    border: 1px solid var(--color-complementario);
    padding: 6px 12px;
    border-radius: 6px;
  }

  .header__container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  /* Listas del nav */
  .menu__container ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 3em;   
  }

  /* Links del nav */
  .menu__container ul a {
    text-decoration: none;
    color: var(--color-complementario);
    font-size: 1em;
    text-transform: uppercase;
  }
  .menu__container ul a i {
    font-size: 1.3em;
    padding: 6px 8px;
    border: 0.5px solid var(--color-complementario);
    border-radius: 100%;
    margin-left: 10px;
    transition: all 0.5s ease;
  }
  
  .menu__container ul a:hover {
    font-weight: bold;
    text-decoration: underline;
  }

  .footer__container {
    flex-direction: row;
    padding: 12px 24px;
  }
  /* HEADER Y FOOTER MEDIA QUERIES FIN */

 .form__container {
   width: 30%;
 }

 .form__input {
   width: 80%;
 }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .footer__container {
    max-width: 1200px;
    justify-content: space-evenly;
  }

  .header__logo {
    width: 15%;
  }
  /* HEADER Y FOOTER MEDIA QUERIES FIN */
  .register__container {
    padding-top: 10em;
  }
 }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
 }