<!DOCTYPE html>
<html lang="es">
  <%- include('../dev/partials/head', {pageTitle:'Home -> DEV', styles:['normalize','styles','partials/header','partials/footer']}) %>
  <body>
    <%- include('../dev/partials/header') %>
  </body>
</html>
