<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head', {title:'Formulario de registro', styles:['normalize','new_styles','partials/header']}) %>
  </head>
  <body class="body-account">
    <%- include('../partials/header') %>
    <main>
      <section class="section">
        <article class="article-container">
          <h1 class="login__title">Login</h1>
          <p class="login__speach">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam mollitia beatae nesciunt tenetur voluptatem tempore eligendi. Aspernatur nisi quisquam reiciendis minima inventore eligendi, quam eaque et facilis a nostrum quos.</p>
          <% if (locals.errors && locals.errors.email) { %>
            <div class="form__error">
              <ul>
                  <li class="error-msg__text"><%= errors.email.msg %> </li>
                </ul>
            </div>
            <% } %>
          <form action="/users/login" class="form" method="POST">
            <div class="form__layer">
              <!-- <label for="email" class="form__label">Email:</label><br> -->
              <i class="fa-solid fa-envelope"></i>
              <% if (locals && locals.data) { %>
                <input type="email" name="email" class="form__input" placeholder="Email" value="<%= locals.data%>" required>
              <% } else { %>
              <input type="email" name="email" class="form__input" placeholder="Email" required>
              <% } %>
            </div>
            <div class="form__layer">
              <!-- <label for="password" class="form__label">Contraseña:</label><br> -->
              <i class="fa-solid fa-key"></i>
              <input type="password" name="password" class="form__input" required placeholder="Contraseña">
            </div>
            <div class="form__layer form__layer--checkbox">
              <input type="checkbox" name="remember_me" class="form__input--checkbox">
              <label for="remember_me" class="form__label">Mantener sesión iniciada</label>
            </div>
            <div class="buttons">
              <button type="submit" class="button button--green">Iniciar sesión</button>
            </div>
          </form>
          <div class="form__help">
            <p>¿Aún no tienes cuenta? <a href="/users/register">¡Click aquí!</a></p>
            <a href="/users/register">¿Olvidaste tu contraseña?</a>
          </div>
        </article>
      </section>
    </main>
  </body>
</html>