<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head', {title:'Formulario de registro', styles:['normalize','styles','partials/footer','partials/header_test']}) %>
</head>

<body>
    <%- include('../partials/header_test') %>
    <main>
      <section class="section__container login__section">
        <article class="article__container login__container">
          <div class="register__text-title">
          <h3>Iniciar sesión</h3>
          <p>Bievenid@ nuevamente.</p>
          </div>
           <!-- ERRORS -->
           <% if (typeof errors != 'undefined') { %>
            <div class="errors__container">
              <ul>
                <% for (let i=0; i<errors.length; i++) {%>
                  <li class="error-msg__text"><%= errors[error].msg%></li>
                <% } %>
              </ul>
            </div>
            <% } %>
            <!-- ERRORS END -->
          <form action="/users/login" method="POST">
            <label for="email" class="form__label">Correo electronico:</label><br>
            <input type="email" name="email" placeholder="Ingrese su correo electronico" class ="form__input" required><br>
            <label for="password" class="form__label">Contraseña:</label><br>
            <input type="password" name="password" placeholder="Ingrese su contraseña" class ="form__input" required><br>
            <!-- Pendiente boton para mostrar contraseña -->
            <input type="checkbox" name="rememberMe" class=""><label for="rememberMe" class="form__label"> Recordame</label><br><br>
            <input type="submit" value="Iniciar sesión" class="main__btn card__btn-green"><br>
          </form>
          <div class="register__utility-links">
            <p><a href="#">¿Olvidaste tu contraseña?</a></p>
            <p>¿Aún no tienes cuenta? <a href="/users/register">¡Click Aqui!</a></p>
          </div>
        </article>
      </section>
    </main>
    <%- include('../partials/footer') %>
</body>

</html>