<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {title:'Formulario de registro', styles:['normalize','new_styles','partials/header']})
  %>

  <body class="body-account">
    <%- include('../partials/header') %>
      <main>
        <section class="section">
          <article class="article-container user-panel">
            <h1 class="user-panel__title">Panel de usuario</h1>
            <div class="user-panel__avatar">
              <img src="/img/uploads/users/<%= locals.user.avatar %>"  alt="Foto de perfil" class="user-panel__avatar-img">
            </div>
            <div class="user-panel__options">
              <nav class="mobile-menu__navbar">
                <ul class="mobile-menu__menu-list">
                  <li class="mobile-menu__items"><a href="/users/profile/edit/<%=locals.user.id%>" class="mobile-menu__links"><i class="fa-solid fa-pen"></i> Editar información</a></li>
                  <li class="mobile-menu__items"><a href="#" class="mobile-menu__links"><i class="fa-solid fa-key"></i> Cambiar contraseña</a></li>
                  <li class="mobile-menu__items"><a href="#" class="mobile-menu__links"><i class="fa-solid fa-book"></i> Historial de compras</a></li>
                  <li class="mobile-menu__items"><a href="#" class="mobile-menu__links"><i class="fa-solid fa-star"></i> Mis favoritos</a></li>
                </ul>
              </nav>
            </div>
            <div class="user-panel__exit">
              <form action="/users/logout">
                <button class="button button--red" type="submit"><i class="fa-solid fa-xmark"></i> Cerrar sesión</button>
              </form>
            </div>
          </article>
        </section>
      </main>
  </body>

</html>