<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head', {title:'Formulario de registro',
    styles:['normalize','new_styles','partials/footer','partials/header']}) %>
</head>

<body>
  <%- include('../partials/header') %>
    <main>
      <section class="login">
        <article class="form-box">
          <div>
            <h1>Formulario de registro</h1>
            <form action="/users/register" method="POST" class="form">
              <div class="form__layer">
                <!-- <label for="email" class="form__label">Email</label> -->
                <i class="fa-solid fa-user"></i>
                <input type="text" name="name" class="form__input form__input--black" placeholder="Nombre">
              </div>
              <div class="form__layer">
                <!-- <label for="email" class="form__label">Email</label> -->
                <i class="fa-solid fa-envelope"></i>
                <input type="email" name="email" class="form__input form__input--black" placeholder="Email">
              </div>
              <div class="form__layer">
                <!-- <label for="email" class="form__label">Email</label> -->
                <i class="fa-solid fa-lock"></i>
                <input type="password" name="password" class="form__input form__input--black" placeholder="Contraseña">
              </div>
              <div class="form__layer">
                <!-- <label for="email" class="form__label">Email</label> -->
                <i class="fa-solid fa-lock"></i>
                <input type="password" name="repassword" class="form__input form__input--black"
                  placeholder="Confirmar contraseña">
              </div>
              <div class="form__layer form__rememberMe">
                <input type="checkbox" name="terms_conditions">
                <label for="remember_me" class="form__label register-cta">Acepto los <a href="#">terminos y
                    condiciones</a></label>
              </div>
              <div class="form__buttons">
                <button type="submit" class="form-btn">Enviar</button>
              </div>
              <span class="register-cta">¿Ya eres miembro? <a href="#">¡Click aquí!</a></span>
              <span class="register-cta"><a href="#">¿Olvidaste tu contraseña?</a></span>
            </form>
          </div>
          <figure>
            <img src="/img/backgrounds/background_2.jpg" alt="">
          </figure>
        </article>
      </section>
    </main>
    <%- include('../partials/footer') %>
</body>

</html>