@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

html {
  --black-900: #0e1111;
  --black-800: #191d1d;
  --black-700: #1f2424;
  --black-500: #2c3133;
  --black-300: #3b444b;
  --black-100: #414a4c;
  --gray-100: #f5f5f5;
  --gray-200: #e5e5e5;
  --gray-300: #c2c2c2;
  --gray-500: #a2a2a2;
  --gray-700: #5c5a5a;
  --gold-900: #e4bc38;
}

* {
  box-sizing: border-box;
  /* font-family: 'Inter', sans-serif; */
  font-family: 'Open Sans', sans-serif;
}

header {
  background-color: var(--black-900);
  /* position: relative; */
}

.mobile-header {
  padding: 0.5em 1em;
  display: flex;
}

.mobile-header__logo {
  width: 80%;
  margin: 0;
}

.mobile-header__link {
  outline: none;
}

.mobile-header__img {
  width: 100%;
}

.mobile-header__nav {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-header__menu-btn {
  font-size: 2.5em;
  color: #f1f1f1;
  background-color: transparent;
  border: unset;
  outline: unset;
}

.mobile-menu {
  background-color: rgba(28, 28, 28, 0.95);
  position: absolute;
  width: 100%;
  height: 100vh;
  padding: 2em;
  transform: translateX(-110%);
  transition: transform 0.1s;
}

.mobile-menu__menu-list {
  padding: 0;
}

.mobile-menu--active {
  transform: translateX(0);
  z-index: 999;
}

.mobile-menu__items {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  margin-bottom: 1.5em;
  border: 1px solid #f1f1f1;
  background-color: #000;
  padding: 0.5em 1em;
  border-radius: 6px;
}

.mobile-menu__links {
  color: #f1f1f1;
  /* text-transform: uppercase; */
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1em
}

.mobile-menu__links i {
  padding: 0.5em;
}

.user-logged__avatar {
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  margin-bottom: 1em;
  width: 75px;
  height: 75px;
  border: 1px solid #f1f1f1;
  display: inline-block;
}

.user-logged__img {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logged-menu {
  display: flex;
  color: #f1f1f1;
  gap: 1em;
}

.logged-menu__msg {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
  flex-direction: column;
}

.logged-menu__msg h2 {
  margin: 0;
}

.logged-menu__msg p {
  margin-top: 0;
  margin-bottom: 0;
}

.button {
  padding: 0.7em 1em;
  font-weight: 600;
  border-radius: 8px;
  border: unset;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,.2), 0px 8px 15px 6px rgba(0, 0, 0, 0.18);
}

.button--green {
  background-color: #008000;
  color: #f1f1f1;
}

.button--red {
  background-color: #dc1111;
  color: #f1f1f1;
  border: 1px solid #f1f1f1;
  display: flex;
  align-items: center;
  gap: 1em;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

/* .desktop-header {
  display: none;
  align-items: center;
  justify-content: space-between;
  max-width: 1366px;
  min-width: 992px;
}

.desktop-header__logo {
  margin: 0;
}

.desktop-header__searchbar-form {
  position: relative;
}

.desktop-header__search-input {
  background-color: #000;
  color: #f1f1f1;
  border-radius: 8px;
  border: 1px solid #f1f1f1;
  padding: 0.5em 1em;
}

.search-btn {
  position: absolute;
  right: 1em;
  top: 0.5em;
  color: #f1f1f1;
  background-color: unset;
  border: unset;
}

.desktop-header__fast-menu {
  display: flex;
  gap: 1em;
}
.desktop-header__fast-menu-button {
  display: flex;
  align-items: center;
  gap: 1em;
}
.desktop-header__fast-menu-button > button {
  background-color: #000;
  border: 1px solid #f1f1f1;
  border-radius: 8px;
  color: #f1f1f1;
  padding: 0.3em 0.4em;
  text-transform: uppercase;
  display: flex;
  cursor: pointer;
  font-size: 32px;
  transition: all 0.3s ease;
}

.desktop-header__fast-menu-button > button:hover {
  background-color: #444444;
}

.desktop-header__fast-menu-button .whiteBtn {
  background-color: #583403;
}

.desktop-main-menu {
  position: absolute;
  display: block;
  right: 0;
  top: 100%;
  background-color: rgba(10,10,10, 0.8);
  border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border: 1px solid #f1f1f1;
  border-top: unset;
  border-right: unset;
  min-width: 500px;
  z-index: 999;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,.2), 0px 8px 15px 6px rgba(0, 0, 0, 0.18);
  transform: translateX(100%);
  transition: transform 0.1s;
  display: none;
}

.desktop-main-menu > ul {
  padding: 1.5em;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 90vh;
}

.desktop-main-menu li {
  max-width: 300px;
  min-width: 300px;
  transition: all 0.3s ease;
}

.desktop-main-menu li:hover {
  background-color: #444444;
}

.desktop-main-menu__title {
  color: #f1f1f1;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.closeBtn {
  position: absolute;
  top: 0.5em;
  right: 1em;
  color: #f1f1f1;
  background-color: unset;
  border: unset;
  cursor: pointer;
  font-size: 1.6em;
}

.desktop-main-menu--active {
  display: block;
  transform: translateX(0%);
} */

/* .desktop-header {
  display: none;
  align-items: center;
  padding: 0.5em 1em;
  justify-content: space-around;
}
.desktop-header__logo {
  margin: 0;
}
.desktop-header__logo a {
  color: #f1f1f1;
  text-decoration: none;
}

.desktop-header__menu-list {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 2em;
  font-size: 18px;
  text-align: center;
}

.desktop-header__menu-items {
  list-style: none;
}

.desktop-header__menu-items a {
  color: var(--gray-500);
  text-decoration: none;
  background-color: red; 
  padding: 0.2em 1em;
  border-radius: 6px;
  transition: all 0.2s ease;
}

.desktop-header__menu-items a:hover {
  background-color: var(--gray-100);
  color: var(--black-900);
  /* -moz-box-shadow:    inset 0 0 3px var(--black-900);
  -webkit-box-shadow: inset 0 0 3px var(--black-900);
  box-shadow:         inset 0 0 3px var(--black-900); 
}
*/
/* 
.desktop-header__user-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.btn {
  border-radius: 6px;
  padding: 0.7em 0;
  color: var(--gray-100);
  min-width: 130px;
  border: unset;
  font-weight: 600;
  background-color: var(--black-700);
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  border: 1px solid transparent;
  transition: all 0.2s ease;
}

.btn:hover {
  background-color: var(--gray-100);
  color: var(--black-900);
}

.btn--secondayBtn {
  background-color: var(--gray-100);
  color: var(--black-900);
}

.btn--secondayBtn:hover {
  background-color: var(--black-900);
  border-color: var(--gray-100);
  color: var(--gray-100);
}

.search-bar {
  display: none;
  justify-content: center;
  align-items: center;
  padding-bottom: 1em;
  padding-top: 0.5em;
}

.search-bar__input {
  background-color: var(--black-700);
  border-radius: 6px;
  border: none;
  padding: 0.5em 1em;
  color: var(--gray-100);
  min-width: 400px;
}

.search-bar form {
  position: relative;
}

.search-bar__button {
  color: var(--gray-100);
  background-color: unset;
  border: none;
  cursor: pointer;
  position: absolute;
  padding: 0.5em 1em;
  right: 0;
} */ 



/* main */
body {
  padding: 0;
  margin: 0;
}

/* HEADER DESKTOP */
.desktop-header {
  display: none;
  padding-top: 1em;
  padding-left: 4em;
  padding-right: 4em;
  padding-bottom: 1em;
  justify-content: space-between;
  /* border-bottom: 3px solid red; */
}

.desktop-header__nav {
  display: flex;
  align-items: center;
  gap: 1em;
}

.desktop-header__home {
  text-decoration: none;
  color: var(--gray-100);
}

.desktop-header__home-btn {
  display: block;
  width: 200px;
}

.desktop-header__menu {
  display: flex;
  gap: 2em;
}

.desktop-header__items {
  color: var(--gray-500);
  /* color: var(--gold-900); */
  text-decoration: none;
  font-weight: 600;
  transition: color 0.2s ease;
  position: relative;
  background-color: transparent;
  border: unset;
}

.desktop-header__items:focus {
  outline: none;
}

.desktop-header__items:hover > .desktop-header__dropdown-container {
  display: flex;
}

.desktop-header__dropdown-container {
  position: absolute;
  background-color: var(--black-800);
  padding: 1em;
  border-radius: 6px;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0;
  width: 350px;
  border-top-left-radius: unset;
  left: 0;
}

.desktop-header__dropdown-items{
  list-style: none;
  /* background-color: red; */
  border-radius: 6px;
}

.desktop-header__dropdown-links {
  text-decoration: none;
  color: var(--gray-500);
  /* background-color: red; */
  border-radius: 6px;
  display: flex;
}

.desktop-header__dropdown-links:hover {
  background-color: #000;
  color: var(--gray-100);
}

.desktop-header__dropdown-links-icon {
  display: block;
  font-size: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 20%;
  color: var(--gold-900);
}

.desktop-header__dropdown-links-text {
  display: block;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  padding: 0.5em 0;
  text-align: left;
  word-wrap: break-word;
}

.links-text__title {
  font-weight: bold;
  color: var(--gold-900);
  font-size: 18px;
}

.desktop-header__items:hover {
  color: var(--gray-100);
  background-color: var(--black-800);
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.desktop-header__user-btns {
  display: flex;
  gap: 1em;
}

.btn {
  padding: 0.7em 1em;
  font-weight: 700;
  background-color: transparent;
  color: var(--gray-100);
  border: none;
  border-radius: 6px;
  border: 1px solid transparent;
  transition: all 0.2s ease;
  cursor: pointer;
  color: var(--gold-900);
  text-decoration: none;
  max-height: 42px;
  min-height: 42px;
  transform: translateY(0px);
  line-height: 20px;
}

.btn:hover {
  /* border: 1px solid var(--gray-100); */
  background-color: #000;
  box-shadow: 0 0 10px var(--black-500);
  transform: translateY(3px);
}

.btn--white {
  background-color: var(--gray-100);
  color: var(--black-900);
}

.btn--white:hover {
  background-color: #000;
  color: var(--gray-100);
  border: 1px solid transparent;
}

.btn--black {
  background-color: var(--black-700);
  transition: all 0.2s ease;
  box-shadow: 0 0 10px var(--black-700);
  transform: translateY(0px);
  
}

.btn--black:hover {
  background-color: #000;
  transform:translateY(2px);
}

@media (min-width: 991.98px) {
  .mobile-header {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  
  header {
    position:fixed;
    top: 0;
    right: 0;
    left: 0;
    font-size: 14px;
    z-index: 999;
  }
  .desktop-header {
    display: flex;
  }
  .desktop-header__home-btn {
    width: 120px;
  }
  

}

@media (min-width: 1199.98px) {
  .desktop-header__home-btn {
    /* margin-right: 3em; */
    /* background-color: yellow; */
    width: 180px;
  }
}

@media (min-width: 1399.98px) {
  .desktop-header {
    max-width: 1600px;
    margin: auto;
    /* background-color: green;     */
    
  }

}



/* ESTILOS DEL LOGGED MENU (HEADER) */

.profile-btn {
  /* background-color: red; */
  display: flex;
  gap: 1rem;
  align-items: center;
}

.profile-btn > figure {
  margin: 0;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid var(--gold-900);
}

.profile-btn > figure > a > img {
  width: 50px;
  height: 50px;
  display: block;
}
.profile-btn > div > p {
  margin: 0;
  margin-bottom: 0.3rem;
}
.profile-btn > div > p > a{
  color: var(--gray-500);
  font-weight: 600;
  font-size: 16px;
  margin: 0;
  color: var(--gold-900);
  text-decoration: none;
}
.profile-btn > div > div {
  display: flex;
  gap: 1rem;
}
.profile-btn > div > div > a {
  color: var(--gray-500);
  text-decoration: none;
}

.profile-btn > div > div > a:last-child:hover {
  color: red;
}

.profile-btn > div > div > a:hover {
  color: var(--gray-100);
}
