<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head', {title: products.productName,
        styles:['normalize','styles','partials/footer','partials/header_test', 'cart' ]}) %>
</head>

<body>
    <header>
        <%- include('../partials/header_test') %>
    </header>


    <main>

        <section class="container">
            <article class="row">
                <!-- Elementos generados a partir del JSON -->
                <main id="items" class="items"></main>
                <!-- Carrito -->
                <aside class="carrito">
                    <h2>Carrito</h2>
                    <!-- Elementos del carrito -->
                    <ul id="carrito" class="list-group"></ul>
                    <hr>
                    <!-- Precio total -->
                    <p class="text-right">Total: <span id="total"></span>&euro;</p>
                    <button id="boton-vaciar" class="boton-vaciar">Vaciar</button>
                </aside>
            </article>
        </section>

    </main>


    <footer>

        <%- include('../partials/footer') %>



    </footer>

</body>

</html>